#######################
# Personal
#######################
*.sh
html/
latex/

#######################
# Testing
#######################
app/
build/
test/

#######################
# Utilities
#######################
etl/